/**
 * common.css - Common CSS StyleSheet for the Hypermedia Applciation
 */

/* Root Colors for System */
.root
{
   /** Define Common Colors */
   mineShaft: #2F2F2F;     /** Darkest Gray */
   tundora: #454545;       /** Dark Gray */
   boulder: #787878;       /** Medium Gray */
   silverChalice: #B2B2B2; /** Light Gray */
   dodgerBlue: #3189F6;    /** Blue */
   milanoRed: #B9090B;     /** Red  */
   meteor: #D3870D;        /** Orange */

   /** Define Common Color Usage */
   textColor: silverChalice;
}

/** CSS for Labels in Application */
.label
{
   -fx-text-fill: textColor;
}

/** CSS for Video Tool/Player Pane */
.contentPane
{
   -fx-background-color: mineShaft;
   -fx-text-fill: textColor;
}

/** CSS for Video View Panes */
.videoPane
{
   -fx-background-color:  tundora;
}

/** CSS for Menu Bar Pane */
.menuBarPane
{
   -fx-background-color: tundora;
   -fx-text-fill: textColor;
}

/** CSS for Menu Label */
.menu .label
{
   -fx-text-fill: textColor;
}

/** CSS for Menu's Context Menu */
.menu .context-menu
{
 -fx-background-color:  tundora;
}

/** CSS for Menu Item in Menu's Context Menu */
.menu-item
{
   -fx-background-color:  tundora;
}

/** CSS for Hovering over Menu Item */
.menu-item:hover
{
   -fx-opacity: 0.5;
   -fx-background-color: silverChalice;
}

/** CSS for Hover over Menu Item Label */
.menu-item:hover .label
{
   -fx-text-fill: tundora;
}

/** CSS for Disabled Menu Item Label */
.menu-item:disabled .label
{
   -fx-opacity: 1.0;
   -fx-text-fill: black;
}

/** CSS for Vertical Scroll Bar */
.scroll-bar:vertical
{
   -fx-background-color: tundora;
}

/** CSS for Vertical Scroll Bar Thumb */
.scroll-bar:vertical .thumb
{
   -fx-background-color: boulder;
   -fx-background-radius: 10 10 10 10;
}

/** CSS for Vertical Scroll Bar Buttons Hover */
.scroll-bar:vertical .increment-button:hover,
.scroll-bar:vertical .decrement-button:hover
{
   -fx-opacity: 0.5;
   -fx-background-color: silverChalice;
}

/** CSS for Tab Bar Pane */
.tabPane
{
   -fx-background-color: tundora;
}

/** CSS for Tab Buttons */
.tabButton
{
   -fx-border-radius: 0;
   -fx-background-color: mineShaft;
   -fx-text-fill: textColor;
}

.tabButton:selected
{
   -fx-border-radius: 0px;
   -fx-border-color:  mineShaft mineShaft silverChalice mineShaft;
}

/** CSS for Dialog Pane */
.dialogPane
{
   -fx-background-color: mineShaft;
}

/** CSS for Dialog Text Field */
.dialogTextField
{
   -fx-background-color: tundora;
   -fx-text-fill: textColor;
}

/** CSS for Dialog Button */
.dialogButton
{
   -fx-text-fill: textColor;
   -fx-background-color: tundora;
   -fx-background-radius: 10 10 10 10;
   -fx-border-radius: 10 10 10 10;
   -fx-border-color: silverChalice boulder boulder silverChalice;
}

/** CSS for Dialog Button Disabled */
.dialogButton:disabled
{
   -fx-border-color:  tundora tundora tundora tundora;
}

/** CSS for Dialog Button Pressed */
.dialogButton:pressed
{
   -fx-border-color:  boulder silverChalice silverChalice boulder;
}

/** CSS for Labels in Dialog */
.dialogLabel
{
   -fx-text-fill: textColor
}

/** CSS for Select Link Table View */
.selectLinkView
{
   -fx-background-color: tundora;
   -fx-border-color:  silverChalice silverChalice silverChalice silverChalice;
}

/** CSS for Select Link Table View Odd Cells */
.selectLinkView .list-cell:odd
{
   -fx-text-fill: textColor;
}

/** CSS for Select Link Table View Even Cells */
.selectLinkView .list-cell:even
{
   -fx-text-fill: textColor;
   -fx-background-color: mineShaft;
}

/** CSS for Select Link Table View Selected Cells */
.selectLinkView .list-cell:filled:selected
{
   -fx-border-color: dodgerBlue dodgerBlue dodgerBlue dodgerBlue;
}

/** CSS for Select Link Table View Odd Cells */
.list-cell:odd
{
   -fx-background-color: tundora;
}

/** CSS for Select Link Table View Even Cells */
.list-cell:even
{
   -fx-background-color: tundora;
}

/** CSS for Text Field Table Cell Text */
.text-input
{
   -fx-text-fill: textColor;
}

/** CSS for Text Field Table Cell */
TextFieldTableCell >*
{
   -fx-background-color: tundora;
   -fx-border-color: yellow;
}

/** CSS for Focused Text Field Table Cell */
TextFieldTableCell > *:focused
{
   -fx-background-color: tundora;
   -fx-border-color: yellow;
   -fx-text-color: textColor;
}

TextFieldTableCell .textfield .label
{
   -fx-text-color: textColor;
}


.table-row-cell:selected
{ 
   -fx-text-color: textColor;
}


/** CSS for Progress Bar */
.videoProgressBar .track
{
   -fx-background-color: tundora;
}

.videoProgressBar .bar
{
   -fx-padding: 1px;
   -fx-background-insets: 0;
}

/** CSS for Video Progress Bar */
.videoProgressBar
{
   -fx-accent: milanoRed;
}

/** CSS for Progress Bar */
.mp4ProgressBar .track
{
   -fx-background-color: tundora;
}

/** CSS for Video Progress Bar */
.mp4ProgressBar
{
   -fx-accent: milanoRed;
}

/** CSS for Slider Track */
.frameSlider .track
{
   -fx-background-color: null;
}

/** CSS for Slider Thumb */
.frameSlider .thumb
{
   -fx-background-color: milanoRed;
}

/** CSS for Disabled Slider Thumb */
.frameSlider:disabled .thumb
{
   -fx-background-color: boulder;
}

/** CSS for Regualar Font Awesome Button */
.awesomeButton
{
   -fx-font-family: FontAwesome;
   -fx-background-color: tundora;
   -fx-text-fill: textColor;
   -fx-font-size: 30px;
   -fx-border-color: silverChalice boulder boulder silverChalice;
}

/** CSS for Error Icon */
.errorLabel
{
   -fx-font-family: FontAwesome;
   -fx-background-color: milanoRed;
   -fx-text-fill: textColor;
   -fx-font-size: 40px;
}

/** CSS for Solid Font Awesome Button */
.solidAwesomeButton
{
   -fx-font-family: FontAwesome 5 Free Solid;
   -fx-font-weight: bold;
   -fx-background-color: green;
   -fx-text-fill: textColor;
   -fx-font-size: 30px;
   -fx-border-color: silverChalice boulder boulder silverChalice;
}

/** CSS for Pressed Font Awesome Button */
.awesomeButton:pressed
{
   -fx-border-color:  boulder silverChalice silverChalice boulder;
}

/** CSS for Separator */
.separator:vertical .line
{
   -fx-border-color: silverChalice;
   -fx-border-width: 1;
}

/** CSS for Link Selection Table */
.linkTableView
{
   -fx-text-fill: textColor;
   -fx-background-color: tundora;
   -fx-border-color: transparent;
}
/** CSS for Horizontal Table Scroll Bar (Buttons) */
.linkTableView *.scroll-bar:horizontal *.increment-button,
.linkTableView *.scroll-bar:horizontal *.decrement-button
{
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

/** CSS for Horizontal Table Scroll Bar (Arrows) */
.linkTableView *.scroll-bar:horizontal *.increment-arrow,
.linkTableView *.scroll-bar:horizontal *.decrement-arrow
{
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

/** CSS for Link Selection Table Column Header */
.linkTableView .column-header
{
   -fx-alignment: CENTER;
   -fx-background-color: tundora;
   -fx-border-color: textColor textColor textColor textColor;
}

/** CSS for Link Selection Table Cell */
.linkTableView .table-cell
{
   -fx-text-fill: textColor;
   -fx-alignment: CENTER;
   -fx-border-color: textColor textColor textColor textColor;
}

/** CSS for Link Selection Table Cell (Odd) */
.table-row-cell:odd
{
   -fx-background-color: tundora;
}

/** CSS for Link Selection Table Cell (Even) */
.table-row-cell:even
{
   -fx-background-color: mineShaft;
}

.table-row-cell:filled:selected
{
   -fx-background-color: rgba(211,135,13, 0.3);
   -fx-border-color: meteor;
}

/** CSS for a Selected Link */
#linkSelected
{
   -fx-stroke: meteor;
   -fx-stroke-width: 3;
   -fx-fill: transparent;
}

/** CSS for a Selected Link */
#linkUnselected
{
   -fx-stroke: dodgerBlue;
   -fx-stroke-width: 2;
   -fx-fill: transparent;
}

/** CSS for an Editable Link */
#linkEditable
{
   -fx-fill: transparent;
   -fx-stroke: meteor;
   -fx-stroke-width: 2.0; 
}

/** CSS for an Uneditable Link */
#linkUneditable
{
   -fx-fill: transparent;
   -fx-stroke: transparent;
   -fx-stroke-width: 0.0; 
}